extends layout

block content
  h3 LISTA COMPLETA
  ul 
    li    
      a(href='/personaje/1') Rick y Morty
    li    
      a(href='/personaje/2') Morty Smith
    li    
      a(href='/personaje/3') Summer Smith
    li    
      a(href='/personaje/4') Beth Smith
    li    
      a(href='/personaje/5') Jerry Smith
    li    
      a(href='/personaje/6') Abadango Cluster Princess 
    li  
      a(href='/personaje/7') Adradolf Lincler
    li 
      a(href='/personaje/8') Agency Director
    li 
      a(href='/personaje/9') Alan Rails
    li
      a(href='/personaje/10') Albert Einstein
    li 
      a(href='/personaje/11') Alexander
    li 
      a(href='/personaje/12') Alien Googah
    li 
      a(href='/personaje/13') Alien Morty
    li 
      a(href='/personaje/14') Alien Rick
    li 
      a(href='/personaje/15') Amish Cyborg
    li 
      a(href='/personaje/16') Annie
    li 
      a(href='/personaje/17') Antenna Morty
    li 
      a(href='/personaje/18') Antenna Rick
    li 
      a(href='/personaje/19') Ants in my Eyes Johnson
  